/* Team section */
.team {
    background-color: #F4F4FD;
    text-align: center;
    padding: 120px 0; /* Padding interior pentru conținutul secțiunii */
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px; /* Spațiu între titlu și lista de echipă */
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px; /* Dimensiunea spațiului dintre elementele listei */
    list-style: none;
}

.team-list li {
    width: calc((100% - 3 * 24px) / 4); /* Lățimea fiecărui element din listă */
    margin-right: 24px; /* Spațiu între elementele listei */
}

.team-list li:last-child {
    margin-right: 0; /* Anulăm spațiul pentru ultimul element din listă */
}

.team-list li img {
    width: 100%;
    border-radius: 0px 0px 4px 4px; /* Raze colțuri de jos ale blocului */
}

.team-card {
    padding: 32px 0; /* Padding interior pentru containerul numelui și titlului poziției */
}

.team-card h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center; /* Aliniere centrul textului */
    margin-bottom: 8px; /* Spațiu între titlu și paragraf */
}

.team-card p {
    text-align: center; /* Aliniere centrul paragrafului */
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
