/* Resetarea stilurilor globale */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Stiluri globale */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* Container */
.container {
    width: 1158px; /* Lățimea containerului */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px; /* Padding interior */
    display: flex; /* Navigarea și contactele pe o singură linie */
    justify-content: space-between;
    align-items: center; /* Aliniere verticală */
}

/* Header styles */
.site-header {
    border-bottom: 1px solid #e7e9fc; /* Definirea bordurii de jos */
}

/* Navigation menu settings */
.main-nav {
    display: flex; /* Aranjare logo și meniu pe aceeași linie */
    align-items: center; /* Aliniere verticală */
}

/* Logo styles */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px; /* Marginea din dreapta a logo-ului */
}

.logo-span {
    color: #2e2f42;
}

/* Menu list styles */
.nav-list {
    display: flex; /* Elemente meniului aranjate orizontal */
    gap: 40px; /* Spațiu între elementele meniului */
    list-style: none;
    padding: 24px 0; /* Padding interior al elementului meniu */
}

/* Contact info styles */
.contact-info {
    display: flex;
}

.contact-list {
    display: flex; /* Contactele orizontal */
    gap: 40px; /* Spațiu între elementele de contact */
    list-style: none;
}

.contact-link {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
}

/* Section styling */
.section {
    margin-top: 120px;
    margin-bottom: 120px;
}

/* Intro section */
.intro {
    background-color: #2e2f42;
    text-align: center;
    padding: 60px 0;
}

.intro-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.btn-order {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.btn-order:hover,
.btn-order:focus {
    background-color: #404BBF;
}

/* Feature section */
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team section */
.team {
    background-color: #F4F4FD;
    text-align: center;
    padding: 60px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.team-list li {
    width: calc((100% - 72px) / 4); /* Lățimea fiecărui element */
    border-radius: 0px 0px 4px 4px; /* Colțurile de jos rotunjite */
}

.team-list li:last-child {
    margin-right: 0; /* Anulează spațiul la ultimul element */
}

.team-list div {
    padding: 32px 0; /* Padding interior pentru container */
    text-align: center; /* Alinierea textului în centru */
}

.team-list h3 {
    margin-bottom: 8px; /* Spațiul dintre titlu și paragraf */
    text-align: center; /* Alinierea titlului în centru */
}

.team-list p {
    text-align: center; /* Alinierea textului în centru */
}

/* Footer styles */
.footer {
    background-color: #2e2f42;
    text-align: center;
    padding: 20px 0;
    color: #ffffff;
}

.logo-footer {
    margin-bottom: 10px;
}
